#main_title{
    text-align: center;
    background-color: #0c5fa8;
    color: #fff;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}







th{
  text-align:center;
}

.division{
  text-align: center;
}

a{
  color: #fff;
}

#logs a{
color:black;

}
#logs h4{
color:black;
}

/* #radio_shelf{
margin-right:2px;
} */

.form-control {
  height: 50px;
  border-radius: 0;
}

/* #searchbar{
  margin-bottom:2px;
}  */

/* Navigation bar style */
#dynamic_island {
overflow: hidden;
background-color: #63686e ;
/* width: 100%; */
}

#dynamic_island a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 30px;
text-decoration: none;
font-size: 20px;
font-weight: 500;
}

#dynamic_island h5 {
float: left;
display: block;
color:green;
text-align: left;
padding: 10px 10px;
font-size: 25px;
font-weight: 500;
background-color: #fff;
width: 100%;
}
#dynamic_island button {
float: left;
border: 3px solid black;
text-align: left;
padding: 10px 10px;
text-decoration: underline; 
font-size: 25px;
font-weight: 500;
width: 100%;
border-radius: 0;
}
#dynamic_island h4 {
float: left;
display: block;
color:red;
text-align: left;
font-size: 25px;
font-weight: 500;
background-color: #fff;
width: 100%;
}

#dynamic_island a:hover {
background-color: #ddd;
color: black;
}

#dynamic_island a.active {
background-color: #04AA6D;
color: white;
}

/* html {
  scroll-behavior: smooth;   
  scroll-padding-top: 400px;
} */

.sticky {
  
position: fixed;
top: 0%;
/* overflow: hidden; */
width: 100%; 
}

.container{
  margin-top: 50px;

}


